.glitch-text {
  position: relative;
  display: inline-block;
  color: inherit;
  white-space: nowrap;
  user-select: none;
}

.glitch-text::after,
.glitch-text::before {
  position: absolute;
  inset: 0;
  overflow: hidden;
  color: inherit;
  content: attr(data-text);
  pointer-events: none;
  clip-path: inset(0 0 0 0);
}

.glitch-text:not(.enable-on-hover)::after {
  left: 4px;
  text-shadow: var(--after-shadow);
  animation: animate-glitch var(--after-duration) infinite linear alternate-reverse;
}

.glitch-text:not(.enable-on-hover)::before {
  left: -4px;
  text-shadow: var(--before-shadow);
  animation: animate-glitch var(--before-duration) infinite linear alternate-reverse;
}

.glitch-text.enable-on-hover::after,
.glitch-text.enable-on-hover::before {
  content: "";
  opacity: 0;
}

.round-cta:hover .glitch-text.enable-on-hover::after,
.glitch-text.enable-on-hover:hover::after {
  left: 4px;
  content: attr(data-text);
  opacity: 1;
  text-shadow: var(--after-shadow);
  animation: animate-glitch var(--after-duration) infinite linear alternate-reverse;
}

.round-cta:hover .glitch-text.enable-on-hover::before,
.glitch-text.enable-on-hover:hover::before {
  left: -4px;
  content: attr(data-text);
  opacity: 1;
  text-shadow: var(--before-shadow);
  animation: animate-glitch var(--before-duration) infinite linear alternate-reverse;
}

@keyframes animate-glitch {
  0%, 50%, 100% { clip-path: inset(20% 0 50% 0); }
  10%, 60% { clip-path: inset(15% 0 55% 0); }
  20%, 70% { clip-path: inset(30% 0 40% 0); }
  30%, 80% { clip-path: inset(40% 0 20% 0); }
  40%, 90% { clip-path: inset(25% 0 35% 0); }
}

@media (prefers-reduced-motion: reduce) {
  .glitch-text::before,
  .glitch-text::after {
    animation: none !important;
  }
}
